<html>
    <head>
        <title>Edit Item:<%= eitem.iname %></title>
    </head>
<body>
    <h1>Edit Item</h1>
    <br>
    <form action="/items/<%= eitem._id %>?_method=PUT" method="POST">
        <table>
            <tr>
                <td>Item Brand</td>
                <td><input type="text" value="<%= eitem.ibrand %>" name="upItem[ibrand]"></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" value="<%= eitem.iname %>" name="upItem[iname]"></td>
            </tr>
            <tr>
                <td>Color:</td>
                <td><input type="text" value="<%= eitem.icolor %>" name="upItem[icolor]"></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" value="<%= eitem.iprice %>" name="upItem[iprice]"></td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td><input type="text" value="<%= eitem.iqty %>" name="upItem[iqty]"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Edit Item" name="editItem"></td>
                <td><input type="reset" value="Clear Values" name="clearVal"></td>
            </tr>
        </table>
    </form>


</body>
</html>